.container {
	margin: 0 auto;
	width: 80%;
}

/*
nav, footer {
	background-color: #333;
	color: #fff;
	text-align: center;
}

nav {
	display: flex;
	flex-direction: column;
}

nav > a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

@media only screen and (min-width: 768px) {
	nav { flex-direction: row; }

	.project-container { display: flex;}

	.project-container .project-list { width: 20%; }

	.project-container .project { flex: 1; }
}
*/

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}
