<nav>
  <ul class="topnav">
    <li>
      <a style="padding: 0px 0px 0px 0px;" href="/">
        <image
          src="/images/yoe-logo.png"
          width="60"
          height="60"
          style="filter: invert(1);"
          hspace="5"
        />
      </a>
    </li>
    <li style="float:right">
      <a href="https://github.com/YoeDistro">
        <img src="/images/GitHub-Mark-Light-32px.png" />
      </a>
    </li>
    <li style="float:right"><a href="/posts">Blog</a></li>
    <li style="float:right"><a href="/">Home</a></li>
  </ul>
</nav>
