<nav>
  <ul class="topnav">
    <li>
      <a href="/">
        <image src="/images/yoe-logo.png" />
      </a>
    </li>
    <li><a href="/posts">Blog</a></li>
    <li>
      <a href="https://github.com/YoeDistro/yoe-distro/tree/master/docs#yoe-documentation">Docs↗</a>
    </li>
    <li>
      <a href="/index.xml">
        <img 
          style="filter: invert(1);"
          src="/images/rss.png" />
      </a>
    </li>
    <li>
      <a href="https://github.com/YoeDistro">
        <img
          style="filter: invert(1);"
          src="/images/GitHub-Mark-Light-32px.png" />
      </a>
    </li>
  </ul>
</nav>
