{{ define "main" }} {{ .Content }}
<form
  style="border:1px solid #ccc;padding:3px;text-align:center;"
  action="https://tinyletter.com/yoedistro"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://tinyletter.com/yoedistro', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
>
  <h3>
    Looking for tips to effectively use Yocto in your product development?
  </h3>
  <p style="text-align: left;padding:15px">
    Sign up for our newsletter to learn about the latest Yocto developments and
    best practices that will make your project a success.
  </p>
  <p><label for="tlemail">email address</label></p>
  <p><input type="text" style="width:200px" name="email" id="tlemail" /></p>
  <input type="hidden" value="1" name="embed" /><input
    type="submit"
    value="Sign me up!"
  />
  <p>
    <small
      ><a href="https://tinyletter.com" target="_blank"
        >powered by TinyLetter</a
      ></small
    >
  </p>
</form>
{{ end }}
